body {
    background: linear-gradient(0deg, #DAE7BC 0%, #FFFFFF 100%);
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

section{
    display: flex;
    justify-content: flex-end;
}    

h1 {
    font-size: 8rem;          
    color: #0D2908;           
    text-align: center;        
    font-weight: bold;        
    letter-spacing: 4px;       
    font-family: Courier New; 
    width: 300px; 
    margin-left: 2.5rem;

}

h2{
    font-size: 2rem;
    font-family: roboto;

}

h3{
    font-size: 4rem;
    font-family: Courier New;
    margin-left: 9.5rem;
    letter-spacing: 1rem;
    margin-top: 9rem;
}

article {
    display: flex; 
    flex-direction: column; 
    justify-content: align-items;
    margin-top: -1rem;
    margin-right: 10rem;
    margin-left: 5rem;
}

p{
    font-size: 1.3rem;
    font-family: roboto;
    white-space: nowrap;
}

.button-group { 
    display: flex;
    justify-content: center;
}   

.nav-button{
    padding: 1rem 1rem; 
    border: 0.1px solid #210B38; 
    background-color: #302037; 
    color: #fff; 
    text-align: center; 
    font-size: 16px;
    font-family: roboto;
} 

#yellow-button:hover{
    background-color:#E5E588;
    color: #32194D;
}

#blue-button:hover{
    background-color:#9AC2D7;
    color: #32194D;
}

#green-button:hover{
    background-color:#B9D989;
    color: #32194D;
}

#orange-button:hover{
    background-color:#E5C17F;
    color: #32194D;
}

.fortunebutton-group{ 
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 25rem;
    margin-left: 24rem;
    font-family: Courier New;
} 

#fortune:hover{
    transform: scale(1.1); 
    background-color: #805579;
}

.img-container {
    display: flex; 
    flex: 1 1 200px; 
    flex-direction: row; 
    justify-content: align-items;
    flex-wrap: wrap;
    height: auto; 
    width: 80%; 
    margin-top: -26rem;
    margin-right: -2rem;
    margin-left: 8rem;
}

.cootieimage:hover {
    transform: scale(1.05); 
  }

#numbers img {
    width: 100%; 
    max-width: 600px; 
    transition: transform 0.3s ease; 
    margin-left: -4rem;
    margin-top: -10rem;
}

#numbers img:hover {
    transform: scale(1.2);
  }

.fortune p{
    margin-top: 10rem;
    margin-left:10rem;
    margin-bottom:25rem;
    margin-right: 10rem;
    line-height: 1.6;
}

footer{
    margin-top: 6em;  
    display: flex;  
    justify-content: center;
    
}

#footer-text{
    font-size: 16px;
    font-family: Courier New;
    letter-spacing: 3px;
}

footer span {
    color: #D13BB8;
}

.sticky-link {
    position: fixed;  
    /* position:relative;      */
    top: 1rem;             
    left: 3rem;           
    font-size: 18px;       
    color: #32194D;
    font-family: Courier New;

    background-color:rgba(255, 255, 255, 0.8);
    padding:1rem 2rem;
    backdrop-filter:blur(12px);
      
    text-decoration: none; 
  }
  
  .sticky-link:hover {
    color: #805579;  
    transform: scale(1.05);       
  }

.another-number h3 {
    letter-spacing: 0.5rem;
  }

  .highlight {
    background-color: #FCF7C8; 
    padding: 0,2rem 0.3rem;         
    display: inline; 
  }



  @media only screen and (max-width: 1121px) {
  
    .img-container {
        display: block;
        margin-top: 10rem;
    }

    h2{
        margin-left: 8rem;
        margin-top: 8rem; 
    }

    section{ 
        flex-direction: column; 
        justify-content: align-items;
        flex-wrap: wrap;
        margin-top: -6rem;
    }

    .nav { 
       display: flex;
       justify-content: center;
       margin-right: -10rem;
    } 
    .fortune{
        display: block;
    }
}

@media only screen and (max-width: 622px) {
  
    .img-container {
        display: block;
        margin-top: 10rem;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        margin-left: 8rem;
        margin-top: 8rem; 
    }

    section{ flex-direction: column; 
    justify-content: align-items;
    flex-wrap: wrap;
    margin-top: -6rem;
}
.button-group { 
    display: flex;
    justify-content: center;
    margin-right: -5rem;
} 
.fortune{
    display: block;
}
}


@media only screen and (max-width: 498px) {
  
    .img-container {
        display: block;
        margin-top: 10rem;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        margin-left: 8rem;
        margin-top: 8rem; 
    }

    section{ flex-direction: column; 
    justify-content: align-items;
    flex-wrap: wrap;
    margin-top: -6rem;
}
    #footer-text{
    font-size: 8px;
    font-family: Courier New;
    letter-spacing: 3px;
}
.fortune{
    display: block;
}
}

@media only screen and (max-width: 375px) {
  
    .img-container {
        display: block;
        margin-top: 10rem;
    }

    h1{
        font-size: 5rem;
    }

    h2{
        margin-left: 8rem;
        margin-top: 8rem; 
    }

    section{ flex-direction: column; 
    justify-content: align-items;
    flex-wrap: wrap;
    margin-top: -6rem;
}
.fortune{
    display: block;
}
}
